{% extends 'base.html' %}

{% block title %}
Memory Allocation
{% endblock %}

{% block body %}
<h1>MVT</h1>
<p>MVT (Multiprogramming with a Variable number of Tasks) is the memory management technique in which each job gets just
    the amount of memory it needs. That is, the partitioning of memory is dynamic and changes as jobs enter and leave
    the system. MVT is a more ``efficient'' user of resources. MFT suffers with the problem of internal fragmentation
    and MVT suffers with external fragmentation.</p>
<div style="display: flex; flex-direction: row; justify-content: space-around; margin-top: 25px; margin-bottom: 50px;">
    <a href="/memory-allocation/mvt/best-fit"><button class="btn btn-success btn-lg">Best Fit</button></a>
    <a href="/memory-allocation/mvt/first-fit"><button class="btn btn-success btn-lg">First Fit</button></a>
    <a href="/memory-allocation/mvt/worst-fit"><button class="btn btn-success btn-lg">Worst Fit</button></a>
</div>
{% endblock %}
