{% extends 'process_scheduling/ps_base.html' %}
{% block title %}
Priority
{% endblock %}

{% block style %}
<style>
  body {
      font-family: 'Arial', sans-serif;
      background-color: #f3f4f6;
      color: #111;
  }

  h1, h2 {
      text-align: center;
      font-weight: 700;
      margin-top: 30px;
      color: #0a4b78;
  }

  section {
      margin: 40px auto;
      max-width: 1000px;
      padding: 30px;
      background-color: rgba(144, 213, 255, 0.3);
      border-radius: 12px;
      box-shadow: 0 0 15px rgba(0, 0, 139, 0.2);
  }

  .container {
      padding: 20px 0;
  }

  label {
      font-weight: 600;
  }

  .form-group {
      margin-bottom: 20px;
  }

  .btn-success {
      background-color: #007bff;
      border: none;
      font-weight: bold;
  }

  .btn-success:hover {
      background-color: #0056b3;
  }

  .btn-result {
      padding: 8px 16px;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      margin-top: 10px;
  }

  .btn-green {
      background-color: #28a745;
      color: white;
  }

  .btn-red {
      background-color: #dc3545;
      color: white;
  }

  dl {
      margin-top: 30px;
  }

  dt {
      font-weight: bold;
      margin-top: 20px;
      font-size: 1.2em;
      color: #0a4b78;
  }

  dd {
      margin-left: 20px;
      font-size: 1.1em;
  }

  .panel-footer {
      margin-top: 30px;
      display: flex;
      justify-content: center;
  }
</style>
#priority {
display: inline-block;
}
#ep th:nth-child(4),
#ep td:nth-child(4) {
display: table-cell;
}
{% endblock %}

{% block algo_link %}
<script src="/static/js/process_scheduling/priority.js"></script>
{% endblock %}

{% block wiki %}
<h3>Non-Preemptive</h3>
<p>Non-Preemptive Priority Scheduling: It is a non-preemptive algorithm and one of the most common scheduling algorithms
  in batch systems. Each process is assigned a priority. The process with the highest priority is to be executed first
  and so on.</p>
<p>Processes with the same priority are executed on the FCFS scheme. Priority can be decided based on memory
  requirements, time requirements, or any other resource requirement.
</p>
<h3>Preemptive</h3>
<p>This follows preemption where one process can be pre-empted and replaced by another process.</p>
{% endblock %}
