<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSLearn</title>
    <link rel="stylesheet" href="../static/css/hover.css">
    <script src="../static/js/hover_effect/cursor.js" defer></script>

</head>
<body>

  <div id="cursor"></div>
    <div class="header-logo">
      OSLearn <br>
      
    </div>
    <span class="subtitle">An Interactive Way to Learn Operating System</span>

    <button type="button" class="btn">
      <a href="/home" style="text-decoration: none; color: black;">
        Get Started
      </a></button>

  <div class="container" id="container"></div>
</body>
</html>